In [16]:
import datetime

import pandas as pd
import numpy as np
import plotly.express as px

In [12]:
df_g = pd.read_csv('./data/games.csv', index_col=0)
df_g['Date'] = df_g['Date'].apply(lambda x: datetime.datetime.fromisoformat(x))

df_p = pd.read_csv('./data/players.csv', index_col=0)
df_p['Date'] = df_p['Date'].apply(lambda x: datetime.datetime.fromisoformat(x))

In [15]:
df_g['HID'].unique()

array([13, 20, 43, 33, 41, 24, 15, 35, 42, 25, 18,  4, 28, 21,  8, 22, 12,
        1,  2, 19, 11, 34, 17, 44,  0, 30,  5, 16,  3, 39])

In [61]:
pivot_df = pd.concat([
    df_g.rename({'HID': 'TID'}, axis=1),
    df_g.rename({'AID': 'TID'}, axis=1)
])[['Date', 'TID']].assign(
    played=1
).pivot_table(
    index='Date', 
    columns='TID', 
    values='played', 
    fill_value=0
).iloc[:,:20].copy()

In [62]:
pd.DataFrame(pivot_df.sum(axis=1).apply(lambda x: x>0))

               0
Date
1975-11-07  True
1975-11-08  True
1975-11-09  True
1975-11-10  True
1975-11-11  True
...          ...
1999-06-15  True
1999-06-17  True
1999-06-20  True
1999-06-22  True
1999-06-24  True

[4819 rows x 1 columns]